.header
  %h1 Welcome to my10xplanner.com
  %p This is your personal own planner. You may know Grant Cardone and his great 10xplanner. This website is made for those who don't wan't to spend $30 and would like to have a digital version.

  %button.btn.btn-warning.btn-lg
    = link_to "Learn more", "https://youtu.be/w6PyO1QkfL4"
  %button.btn.btn-success.btn-lg
    = link_to "Sign up now", new_user_registration_path
