%nav.navbar.navbar-default
  .container
    .navbar-brand#logo= link_to "my10xplanner.com", root_path

    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Sign in", "#"
      %li= link_to "Sign up", "#"
